<!DOCTYPE html>

<html lang="en">

<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ethiopian Alphabet</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  

</head>



<body>

<div class="container">
 <main>
    <section>
        <h1 class="text-center mt-4 mb-4">Ethiopian Alphabet</h1>
        <div class="text-center mb-4">
        <img class="img-fluid" id="eth-alph-img" src="https://m.media-amazon.com/images/I/51ehIPrp7CL.jpg" alt="entire ethiopian alphabet printed">
        </div>
        <p class="text-center">The ethiopian or Geez alphabet is the <em>only</em> indigineos African alphabet.</p> <!--semantic. syntactic equivalient it-->
        <p class="text-center">The ethiopian alphabet has 33 letters or <em>fidels</em> and each letter has <strong>7</strong> variations</p> <!--semantic. syntactic equivalient b-->

        <p class="text-center"><a href="https://allaboutethio.com/talphabet.html" target="_blank">Press link to learn more about the history of the Ethiopian Alphabet</a>
    </section></p>

    <section>
        <h2 class="text-center mt-4 mb-4">Ethiopian alphabet in full</h2>
        <div sytle="width:50%;">
        <table class="table table-striped table-hover table-bordered table-light .w-auto">
            <tr>
                <th>
                    ግዕዝ
                </th>
                <th>
                    ካዕብ
                </th>
                <th>
                    ሳልስ
                </th>
                <th>
                    ራብዕ
                </th>
                <th>
                    ሃምስ
                </th>
                <th>
                    ሳድስ 
                </th>
                <th>
                    ሳብዕ 
                </th>
            </tr>

            <tr>
                <td>
                    ሀ
                </td>
                <td>
                    ሁ
                </td>
                <td>
                    ሂ
                </td>
                <td>
                    ሃ
                </td>
                <td>
                    ሄ
                </td>
                <td>
                    ህ 
                </td>
                <td>
                    ሆ 
                </td>
            </tr>
            <caption>Exhaustive list of <em>fidels</em></caption>
        </table>
        </div>
    </section>

    <div class="container text-center" >
        <section >
        
        
            <a href="/form" target="_blank">
                <button class="btn btn-primary">Contact Us</button>
            </a>
        </section>
    </div>
</main>   
</div>



</body>







</html>